            @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
            * {
                margin: 0px;
                padding: 0px;
                scroll-behavior: smooth;
            }
            
            body {
                background: var(--fourteenth-color);
            }
            
             ::selection {
                background: var(--secondary-color);
                color: var(--primary-color);
            }
            /* todo: CUSTOM SCROLL BAR START; */
            
             ::-webkit-scrollbar {
                width: 12px;
            }
            
             ::-webkit-scrollbar-thumb,
             ::-webkit-scrollbar-thumb:window-inactive {
                background: #3e8bb8;
            }
            
             ::-webkit-scrollbar-thumb {
                box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
                -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
            }
            
             ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgb(255 255 255 / 30%);
                -webkit-box-shadow: inset 0 0 6px rgb(255 255 255 / 30%);
                background: #484848;
            }
            /* PRELOADER CSS */
            
            #preloader {
                background: #E5EFF1;
                height: 1920vh;
                width: 100%;
                position: fixed;
                z-index: 100;
                text-align: center;
            }
            
            .pre {
                margin-top: 15%;
            }
            /* todo: :root  &  .darkTheme are for dark-mood */
            
             :root {
                --primary-color: #ffffff;
                --secondary-color: #212121;
                --third-color: #d8d8d8;
                --fourth-color: #1a1c1d;
                --fifth-color: #b4c6ce;
                --sixth-color: #ffffff;
                --seventh-color: #444444;
                --eight-color: #666666;
                --nine-color: #d8d8d8;
                --tenth-color: #000000;
                --eleventh-color: #6d6d6d;
                --twelve-color: #f4f7fc9e;
                --thirteenth-color: #33333342;
                --fourteenth-color: #dcdcdcad;
            }
            
            .darkTheme {
                --primary-color: #212121;
                --secondary-color: #ffffff;
                --third-color: #000000;
                --fourth-color: #f2f2f2;
                --fifth-color: #111111;
                --sixth-color: #010102;
                --seventh-color: #b3b8b7;
                --eight-color: #e2e2df;
                --nine-color: #525151;
                --tenth-color: #ffffff;
                --eleventh-color: #DBDBDB;
                --twelve-color: #00000065;
                --thirteenth-color: #DBDBDB;
                --fourteenth-color: #212121;
            }
            
            .container {
                max-width: 1140px;
                margin: auto;
            }
            
            #header {
                background: var(--primary-color);
            }
            
            .topHeader::before {
                content: "";
                width: 60%;
                height: 100%;
                background: #ff3c00;
                position: absolute;
                top: 0px;
                left: -2%;
                transform: skew(40deg);
            }
            
            .topHeader {
                display: block;
                background: var(--fifth-color);
                position: relative;
                overflow: hidden;
                font-family: 'Rubik', sans-serif;
            }
            
            .topHeader1 {
                position: relative;
                font-size: 17px;
                padding: 13px 0px;
                color: var(--primary-color);
                width: 70%;
                float: left;
            }
            
            .topHeader1 span i {
                margin-right: 10px;
                margin-left: 15px;
            }
            
            .topHeader1 span,
            .topHeader1 span i {
                cursor: pointer;
            }
            
            .topHeader2 {
                width: 30%;
                float: left;
                color: #ffffff;
                font-size: 17px;
                padding: 13px 0px;
            }
            
            .topHeader2 p {
                width: 50%;
                margin: auto;
                text-align: center;
            }
            
            .topHeader2 p i {
                margin-left: 10px;
            }
            
            .topHeader2 p a {
                color: var(--fourth-color);
                text-decoration: none;
            }
            
            .sidenavIcons {
                display: none;
				margin-bottom:110px;
            }
            
            .sidenavIcons p {
                width: 100%;
            }
            
            .sidenavIcons a i {
                color: #f03353;
                font-size: 16px !important;
                border: 1px solid var(--fourth-color) !important;
                padding: 7px !important;
                border-radius: 3px !important;
                transition: 0.3s !important;
                float: left !important;
            }
            
            .sidenavIcons a:hover {
                border: 1px solid #82C91E;
                background: #82C91E;
            }
            
            .sidenavIcons a:hover {
                color: #FFFFFF !important;
            }
            
            .sidenavIcons a:last-child {
                margin-right: 0px;
            }
            
            .bottomHeader {
                width: 100%;
                display: table;
                position: fixed;
                z-index: 100000;
                background: var(--sixth-color);
                transition: 0.3s;
            }
            
            .bottomHeader.sticky {
                background: #ff3c00;
                transform: translateY(-47px);
            }
            
            .bottomHeader.sticky .mainMenu li a,
            .bottomHeader.sticky .mainMenu li i {
                color: #000000;
                color: var(--secondary-color);
            }
            
            .bottomHeader.sticky .submenu {
                color: var(--secondary-color);
                background: var(--primary-color);
            }
            
            .bottomHeader.sticky .submenu2 {
                color: var(--secondary-color);
                background: var(--primary-color);
            }
            
            .bottomHeader.sticky .navigation {
                padding: 10px 0px;
            }
            
            .bottomHeader.sticky .navButton {
                background: #ffffff;
                color: #ff3c00;
            }
            
            .navWrapper {
                width: 100%;
            }
            
            .navLogo {
                float: left;
                width: 30%;
                padding: 15px 0px;
            }
            
            .navLogo img {
                max-width: unset;
                cursor: pointer;
                margin-left: 5%;
            }
            
            .topHeader2ResponsiveLogo {
                display: none;
            }
            
            .navigation {
                float: left;
                width: 70%;
                text-transform: capitalize;
                padding: 15px 0px;
                font-size: 16px;
                font-family: 'Fira Sans', sans-serif;
                color: var(--secondary-color);
                margin-top: 11px;
            }
            
            .mainMenu a {
                color: var(--secondary-color);
                text-decoration: none;
            }
            
            .mainMenu li {
                cursor: pointer;
                float: left;
                margin-left: 3.35%;
                position: relative;
                transition: 0.3s;
            }
            
            .mainMenu li a {
                transition: 0.3s;
            }
            
            .mainMenu li a:hover {
                color: #ff3c00;
            }
            
            .mainMenu li:hover {
                color: #ff3c00;
            }
            
            .mainMenu {
                list-style: none;
            }
            
            .darkmoodIcon {
                width: 30px;
                height: 30px;
            }
            
            .navClose {
                display: none;
            }
            
            .navButton {
                cursor: pointer;
                background: #ff3c00;
                padding: 8px 20px;
                text-transform: capitalize;
                color: #fefefe;
                border: 2px solid #ff3c00;
                outline: none;
                border-radius: 3px;
                font-family: 'Fira Sans', sans-serif;
                transition: 0.3s;
            }
            
            .navButton:hover {
                color: var(--secondary-color);
                background: var(--primary-color);
            }
            
            .submenu {
                list-style: none;
                width: 150px;
                padding: 25px 25px 25px 10px;
                position: absolute;
                text-align: left;
                top: 35px;
                left: 0px;
                color: var(--secondary-color);
                box-shadow: 0px 0px 3px 0px var(--secondary-color);
                background: var(--primary-color);
                transition: 0.5s;
                opacity: 0;
                border-radius: 3px;
                transform: scaleY(0);
                transform-origin: top;
            }
            
            .submenu li {
                float: none;
                position: relative;
                line-height: 28px;
                font-size: 12px;
            }
            
            .mainMenu li:hover .submenu {
                transform: scaleY(1);
                opacity: 1;
            }
            
            .submenu li a::before {
                content: "";
                background: #ff3c00;
                width: 0px;
                height: 1px;
                vertical-align: middle;
                margin-right: 10px;
                transition: 0.5s;
                position: absolute;
                top: 45%;
                left: -15px;
            }
            
            .submenu li:hover a::before {
                width: 12px;
            }
            
            .submenu li:hover {
                transform: translateX(20px);
            }
            
            .submenu2 {
                list-style: none;
                width: 100px;
                padding: 25px 25px 25px 10px;
                position: absolute;
                text-align: left;
                top: -25px !important;
                left: -190px;
                color: var(--secondary-color);
                box-shadow: 0px 0px 3px 0px var(--secondary-color);
                background: var(--primary-color);
                transition: 0.5s;
                opacity: 0;
                border-radius: 3px;
            }
            
            .submenu2 li {
                float: none;
                position: relative;
                line-height: 28px;
                font-size: 12px;
            }
            
            .submenu li:hover .submenu2 {
                left: -170px;
                opacity: 1;
            }
            
            .submenu2 li a::before {
                content: "";
                background: #ff3c00;
                width: 0px;
                height: 1px;
                vertical-align: middle;
                margin-right: 10px;
                transition: 0.5s;
                position: absolute;
                top: 45%;
                left: -15px;
                opacity: 0;
            }
            
            .submenu2 li:hover a::before {
                width: 12px;
                opacity: 1;
            }
            
            .submenu2 li:hover {
                transform: translateX(20px);
            }
            /* ! FOR SIDE NAV */
            
            .navIcons {
                float: right;
                margin-right: 10px;
                margin-top: 15px;
                display: none;
            }
            
            #navOpenIcon {
                font-size: 25px;
                cursor: pointer;
                color: #000000;
            }
            
            .resnavigation {
                width: 70%;
                text-transform: capitalize;
                padding: 15px 0px;
                font-size: 16px;
                font-family: 'Fira Sans', sans-serif;
                color: var(--secondary-color);
                margin-top: 11px;
                display: none;
                left: -100%;
            }
            
            .expander {
                left: 0px;
            }
            
            .resmainMenu a {
                color: var(--secondary-color);
                text-decoration: none;
            }
            
            .resmainMenu li {
                cursor: pointer;
                margin-left: 3.35%;
                position: relative;
                transition: 0.3s;
                display: grid;
                grid-template-columns: max-content max-content;
                justify-content: space-between;
                align-items: center;
            }
            
            .resmainMenu li a {
                transition: 0.3s;
            }
            
            .resmainMenu li a:hover {
                color: #ff3c00;
            }
            
            .resmainMenu li:hover {
                color: #ff3c00;
            }
            
            .resmainMenu {
                list-style: none;
            }
            
            .darkmoodIconSide {
                width: 30px;
                height: 30px;
            }
            
            .ressubmenu {
                list-style: none;
                width: 75%;
                padding: 25px 25px 25px 10px;
                text-align: left;
                color: var(--secondary-color);
                background: var(--primary-color);
                transition: 0.5s;
                border-radius: 3px;
                transform: scaleY(0);
                transform-origin: top;
                display: none;
            }
            
            .show_col {
                display: block !important;
                transform: scaleY(1) !important;
            }
            
            .ressubmenu li {
                float: none;
                position: relative;
                line-height: 28px;
                font-size: 12px;
            }
            
            .ressubmenu li a::before {
                content: "";
                background: #ff3c00;
                width: 0px;
                height: 1px;
                vertical-align: middle;
                margin-right: 10px;
                transition: 0.5s;
                position: absolute;
                top: 45%;
                left: -15px;
            }
            
            .ressubmenu li:hover a::before {
                width: 12px;
            }
            
            .ressubmenu li:hover {
                transform: translateX(20px);
            }
            
            .ressubmenu2 {
                list-style: none;
                width: 100%;
                padding: 25px 25px 25px 10px;
                text-align: left;
                color: var(--secondary-color);
                background: var(--primary-color);
                transition: 0.5s;
                border-radius: 3px;
                display: none;
                transform: scaleY(0);
                transform-origin: top;
            }
            
            .ressubmenu2 li {
                float: none;
                position: relative;
                line-height: 28px;
                font-size: 12px;
            }
            
            .ressubmenu2 li a::before {
                content: "";
                background: #ff3c00;
                width: 0px;
                height: 1px;
                vertical-align: middle;
                margin-right: 10px;
                transition: 0.5s;
                position: absolute;
                top: 45%;
                left: -15px;
                opacity: 0;
            }
            
            .ressubmenu2 li:hover a::before {
                width: 12px;
                opacity: 1;
            }
            
            .resmainMenu li i {
                font-size: 24px;
                float: right;
                border: 1px solid var(--fourth-color);
                margin-right: 15px;
                padding: 3px 10px;
                border-radius: 3px;
                transition: 0.3s;
            }
            
            #collapse2 {
                font-size: 15px !important;
                float: right;
                border: 1px solid var(--fourth-color);
                margin-right: 30px;
                padding: 3px 10px;
                border-radius: 3px;
            }
            
            .rotate {
                transform: rotate(180deg);
                transition: 0.5s;
            }
            
            .ressubmenu li:nth-child(3) a::before {
                content: "";
                background: #ff3c00;
                width: 0px;
                vertical-align: middle;
                margin-right: 0px;
                transition: 0.5s;
                position: absolute;
                top: 0%;
                left: 0px;
            }
            /* ! FOR SIGN UP SECTION ( SECTION 1 ) */
            
            #sUp {
                background: linear-gradient(#0000009e, #0000009e), url("../IMAGES/supbg.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                font-family: 'Poppins', sans-serif !important;
            }
            
            .signupWrapper {
                width: 100%;
                padding: 100px 0px 50px 0px;
            }
            
            .SignUp {
                width: 55%;
                margin: auto;
            }
            
            .txt,
            .formWrapper {
                width: 100%;
            }
            
            .txt {
                text-align: justify;
                color: #e2dcdc;
            }
            
            .txt h3 {
                color: #ff5200;
                font-size: 24px;
                font-family: 'Rubik', sans-serif !important;
                letter-spacing: 0.75px;
                font-weight: 500;
            }
            
            .txt p {
                font-size: 16px;
                word-spacing: 1px;
                letter-spacing: 0.75px;
                font-weight: 500;
                width: 63%;
                margin: 30px 0px 30px 0px;
            }
            
            #user {
                text-align: center;
                font-size: 60px;
                color: #22eb51;
                margin: 0px 0px 50px 0px;
                width: 70%;
            }
            
            #user i {
                cursor: pointer;
            }
            
            .form {
                width: 100%;
                padding: 0px 10px;
            }
            
            .form div b {
                color: #e2dcdc;
                text-transform: capitalize;
                letter-spacing: 1px;
                font-size: 18px;
                font-weight: 500;
                font-family: 'Poppins', sans-serif !important;
                display: block;
            }
            
            .form div input {
                font-family: 'Poppins', sans-serif !important;
                width: 55%;
                margin: 15px 0px;
                padding: 10px 42px 10px 20px;
                border-radius: 3px;
                border: none;
                outline: none;
                background: var(--nine-color);
                color: var(--secondary-color);
                font-size: 15px;
            }
            
            .form div input::placeholder {
                color: var(--secondary-color);
            }
            
            .form div:first-child input,
            .form div:nth-child(2) input {
                text-transform: capitalize;
            }
            
            .form div:nth-child(3) input {
                text-transform: lowercase;
            }
            
            .mailErr {
                text-transform: capitalize;
                letter-spacing: 1px;
                margin-left: 10px;
                color: #FF2851;
                font-size: 15px;
                display: none;
            }
            
            #validMailIcon {
                width: 50px;
                position: relative;
                top: 5px;
                left: -40px;
                display: none;
            }
            
            #validMailIcon i {
                font-size: 22px;
                cursor: pointer;
            }
            
            #passIcon1 {
                position: relative;
                top: 5px;
                left: -40px;
                font-size: 22px;
                cursor: pointer;
                color: var(--tenth-color);
                transition: 0.3s;
            }
            
            #passIcon2 {
                position: relative;
                top: 5px;
                left: -40px;
                font-size: 22px;
                cursor: pointer;
                color: var(--tenth-color);
                transition: 0.3s;
            }
            
            .passErr {
                text-transform: capitalize;
                letter-spacing: 1px;
                margin-left: 10px;
                color: #ffffff;
                font-size: 15px;
                display: none;
            }
            
            .conPass {
                border: 2px solid transparent;
            }
            
            .str {
                height: 10px;
                width: 65%;
                cursor: pointer;
            }
            
            .passStr {
                width: 25%;
                height: 100%;
                display: inline-block;
                position: relative;
                bottom: 8px;
            }
            
            #country {
                width: 35%;
                padding: 10px 3px;
                cursor: pointer;
                text-transform: capitalize;
                font-size: 13px;
                font-family: 'Poppins', sans-serif !important;
                border: none;
                outline: none;
                display: block;
                border-radius: 3px;
                background: var(--nine-color);
                color: var(--secondary-color);
                margin: 15px 0px 0px 0px !important;
            }
            
            .phoNum {
                -moz-appearance: textfield;
                padding: 10px 0px 10px 107px !important;
                width: 50% !important;
                margin: 0px 0px 15px 0px !important;
            }
            
            .phoNum::-webkit-outer-spin-button,
            .phoNum::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0px;
            }
            
            .code {
                width: 15% !important;
                display: block;
                position: relative;
                top: 43px;
                left: 0px;
                padding: 10px 5px !important;
                margin: 0px !important;
                text-align: right;
            }
            
            .dob {
                width: 25% !important;
                cursor: pointer;
                display: block;
            }
            
            .ageErr {
                text-transform: capitalize;
                letter-spacing: 1px;
                margin-left: 10px;
                color: #ffffff;
                background: #ff2851;
                font-size: 15px;
                display: none;
            }
            
            #sex {
                width: 35%;
                padding: 10px 3px;
                cursor: pointer;
                text-transform: capitalize;
                font-size: 15px;
                font-family: 'Poppins', sans-serif !important;
                border: none;
                outline: none;
                border-radius: 3px;
                background: var(--nine-color);
                color: var(--secondary-color);
                margin: 15px 0px 0px 0px !important;
            }